/*--------------FONT IMPORT------------.*/
@import url("https://use.typekit.net/kfz2rir.css");

:root {
    /*base styles*/
    --font: "parabolica", sans-serif;
    --disc-size: 55vh;
    --thumb-size: 5rem;
    --scrubber-dot: 1.4rem;
    --scrubber-square: 0.6rem;
    --red: #c0392b;
    --active: #4a90d9;
    --ring: #ddd;
}
/*Locks frame in place*/
html {
    overflow: hidden;
    height: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem 
  padding-block: 1.5rem;
  z-index: 10000;

  h1 {
    font-family: "parabolica", sans-serif;
    font-weight: 400;
    font-size: 1rem
}
}

.menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "parabolica", sans-serif;
  font-weight: 400;
 font-size: 1rem
}

.menu a {
  text-decoration: none;
  color: black;
}
/* My film strip */
main {
    position:relative;
    display: flex;
    flex: 1;
    justify-content:center;
    align-items: center;
}
