@import url("https://use.typekit.net/kfz2rir.css");

@font-face {
    font-family: "DT Nouveau";
    src: url("FONTS/DTNouveau-Regular.otf") format("opentype");
    font-weight: normal;
}

@import url(https://db.onlinewebfonts.com/c/d53e8c324d86f4bd809f2421498b1f1f?family=BlurWeb-Medium+W03+Regular);


:root {
    overflow-x: hidden;
    height: 100svh; /* setting */

    --font: "parabolica", sans-serif;
    --disc-size: 65vh;
    --red: #c0392b;
    --active: #4a90d9;
    --ring: rgb(139, 139, 139);
    --main:rgb(0, 0, 0);

    /* Filmstrip variables */
    --block-size: 6rem;
    --gap-size: 0.5rem;
    --padding-size: 1.5rem;
    --border-radius: 10%;
}

h1, h2, h3 {
    font-family: "BlurWeb-Medium W03 Regular";
}

html, body {
    overflow: hidden;
    height: 100%;
    font-family: var(--font);
    font-weight: 400;
    font-size: 1rem;
}
/* HEADER - flex is simplier for this since it I want to create a single column layout for the header for now */
header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem; 
    padding-block: 1rem;
}

h1 {
    font-size: 3rem;
    color: var(--main);
}

.menu {
    font-family: var(--font);
    display: flex;
    gap: 2rem;
    list-style: none;
}

.menu a {
    text-decoration: underline;
    color: var(--main);
}


/*....This one makes the images rotate....*/
@keyframes spin {
  to { rotate: 360deg; }
}


/* MAIN  - flex is simplier for this since it I want to create a single column layout for the header for now */
main {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* DISC - setting up the sizing for the main circle*/
#disc-container {
    overflow: hidden;
    width: var(--disc-size);
    height: var(--disc-size);
    position: relative;
    z-index: 1;
    right: -65%;
    top:0%; 
    transform: translateX(-50%);
}

#disc {
    width: var(--disc-size);
    height: var(--disc-size);
    border-radius: 50%; /* making the disc shape */
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0.6rem double var(--ring);
    animation: spin 8s linear infinite;
    background-image: url("Illustrations/Disc.png");
    background-size: 110%; /* Similar to object fit but with the background size */
    background-position: center;
}


/* DISC FILL */
#disc-image {
    transform-origin: center center; /*  rotates around its exact center point, making the spin smooth and stable without wobble. */
    width: var(--disc-size); 
    height: var(--disc-size);
    justify-content: center;
    align-items: center;
    border-radius: 50%;  /* making the content disc shaped */
    object-fit: cover;
    position: relative;
    
    
}
/* selecting all the content types and making them fit into the circle */
#disc-image img,
#disc-image iframe,
#disc-image video,
#disc-image embed {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#disc-hole  {
    position: absolute; 
    background-image: url("Illustrations/disc-hole.png");
    background-size: cover; /* Similar to object fit but with the background size */
    width: 33%; 
    height: 33%;
    z-index: 1000;
    border-radius: 50%;
    border: 0.5rem solid var(--ring);
    top: 50%;
    left: 50%; /* tell it where to go — 50% from the top and 50% from the left */
    transform: translate(-50%, -50%); /* Asked claude to help make this in the center of my circle - kept forgetting the synthx. moves - vertically then horizontally */
    /* FYI align-items: center; - you keep doing this! this ONLY APPLIES to FLEX/GRID...same with justify-content */
    }



/* FILMSTRIP */
.film-wrapper {
    overflow-x: visible;
    margin-block-start: 1rem;
    margin-inline-start: -2rem;
    padding: 0rem;

    display: flex;
    align-items: center;
    gap: var(--gap-size);
    padding-block: var(--padding-size);
    background-color: white;
    width: 150%;
    bottom: 0; /* pins it to the bottom */

    /* ADDING IMAGES TO EACH CONTENT BLOCK as a background - used claude to help me figure this out, for each content type i want the image i set to be the background in the film strip. This is setting a background * targets everything inside that li and hides the visibility inside the block (other than the background*/

     /* External links */
     #channel-blocks li:has(a) {
        background-image: url('./Illustrations/Link.png');
        background-size: cover;
        background-position: center;

        * {
            visibility: hidden;
        }
    }
    /* External embedded audio */
    #channel-blocks li:has(iframe) {
        background-image: url('./Illustrations/Listen.png');
        background-size: cover;
        background-position: center;

        * {
            visibility: hidden;
        }
    }
    /* External embedded audio */
    #channel-blocks li:has(.text) {
        background-image: url('./Illustrations/read.png');
        background-size: cover;
        background-position: center;

        * {
            visibility: hidden;
        }
    }
}

/* ADDING IMAGES TO EACH CONTENT BLOCK */



#channel-blocks li:has(.text) {
    background-image: url('./Illustrations/Read text.png');
}

#channel-blocks {
    display: flex;  
    flex: 1;
    overflow-x: auto;  /* horizontal scroll */
    gap: var(--gap-size);
    padding: 0;
    padding-block-end: calc(var(--padding-size) * 3);
    list-style: none;
    margin: 0;
    width: 100%;
    flex-wrap: nowrap;  /* keep in one row */
}

#channel-blocks li {
    width: var(--block-size);
    height: var(--block-size);
    display: flex;
    flex-shrink: 0;  /* keep this to prevent shrinking */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    aspect-ratio: 1;
}

#channel-blocks li.active {
    border: 2px solid var(--main);
    outline: 2px solid var(--main);
}
#channel-blocks img,
#channel-blocks iframe {
    object-fit: cover;
     aspect-ratio: 1;
}

#channel-blocks .text, #channel-blocks .image,
#channel-blocks embed,
#channel-blocks iframe { 
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 1;
}
