
/*--------------FONT IMPORT------------*/
@font-face {
    font-family: "DT Nouveau";
    src: url("FONTS/DTNouveau-Regular.otf") format("opentype");
    font-weight: normal;
}

@import url(https://db.onlinewebfonts.com/c/d53e8c324d86f4bd809f2421498b1f1f?family=BlurWeb-Medium+W03+Regular);

/*--------------DESIGN SYSTEM------------*/
:root {
    overflow-x: hidden;

    /* setting fonts variables */
    --body-font: 'Chillax', sans-serif;
    --body-font-style:normal;
    --body-size: clamp(1rem, 2vw, 2rem); /* The function takes three parameters: a minimum value, a preferred value, and a maximum allowed value. it goes rem unit - vw - rem. this allows the type to scale resposively - explained more in the disc size */
    --header-font: "BlurWeb-Medium W03 Regular";  /* I know we shouldnt be using fonts like this but I wanted a very specific vibe to the typography and tried a bunch i couldn't get to work in the design system */
    --heading-size: clamp(5rem, 10vw, 10rem);

    /* setting color variable */
    --active: rgb(255, 0, 0);
    --links: rgb(48, 48, 48);
    --ring: rgb(246, 246, 246);
    --main:rgb(0, 0, 0);
    --border: rgb(206, 206, 206);

    /* setting disc and filmstrip variables */
    --disc-size: clamp(15rem, 80vw, 30rem); /* The function takes three parameters: a minimum value, a preferred value, and a maximum allowed value. it goes rem unit - vw - rem. this allows the disc to be resposively scaled - we also covered this in class but i needed a refresher on the synthex https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/clamp. Increasing the middle value, it hits the maximum sooner and grows faster as you drag the viewport wider. */
    --block-size: clamp(5rem, 15vw, 12rem);/* I experimented with the values here - and thought the logic was max width is the smaller then the preferred value. but this just means that the clamp works faster and stops at 12rem*/
    --gap-size: 0.5rem;
    --padding-size: 1rem;
    --border-radius: 10%;
}
/*--------------BASE------------*/
html, body {
    height: 100dvh; /* Need to review this - ask Riya how she did this and if this is the corrent synthx, i ended up googling this!! */
    display: flex; /* Putting a flex here so it's easier to control the movement :) */
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(#ffffff, #e6e6e6);

}
h1, h2, h3 {
font-family: var(--header-font);
}

a {
font-family: var(--body-font);
font-weight: 500;
font-size: var(--body-size);
}

p {
font-family: var(--body-font);
font-weight: 200;
font-size: var(--body-size);
}

/*--------------HEADER------------*/
/* HEADER - flex is simplier for this since it I want to create a single column layout for the header for now */
header {
display: flex;
flex-direction: column-reverse;
justify-content: space-between;
padding-inline: var( --padding-size); 
padding-block:  var(--padding-size);

    h1 {
    font-size: var(--heading-size);
    color: var(--main);
    align-items: left;
    filter: blur(0.05rem);
    }

    button img {
    width:calc(var(--body-size) * 3); /* relative to text size - I keep forgetting how to properly space the calc function - use claude to remember this calc(var(--body-size) * 3) - no spaces until you do calc and put a space between * and 3*/
    height:calc(var(--body-size) * 3); 
    margin-inline: calc(var(--padding-size) * 1.8);
    margin-block: calc(var(--padding-size) * 0.5);
    }
/*--------------MENU------------*/
    .menu {
    font-weight: 700; 
    font-family: var(--font);
    display: flex;
    gap: calc(var(--padding-size) * 2);
    list-style: none;
    align-items: center;
    margin-block-end: calc(var(--padding-size) * -1);
    justify-content: space-between; /*equally space at viewport width*/

        a {
        font-size: var(--body-size); }
        
        a:hover {
        color:var(--active); }
    }
}
/*--------------MAIN------------*/
main {
    display: flex;
    flex-direction: column;
    flex: 1; /*I leanrt this on Claude and watched this video to understand it better https://www.youtube.com/watch?v=_tlxwc9ssH4&t=784s. Telling the flex to take up all the avalible space, body is a flex column with header, main, and the film strip,  flex: 1 on main is saying "give me all the leftover height that header doesn't use.*/
    justify-content: flex-start; 
}

/* using flex here (defaults to row) as the main horizonal axis for the disc and moving it to the right side of the mobile frame*/
#disc-wrapper{
position: relative;
width: 100%;
    display: flex; /* This puts the entier disc block into a wrapper that i can set to align on the edge of the screen */
    justify-content: flex-end; /*right aligns*/
    margin-inline-start:  calc(var(--padding-size) * 3);
    margin-block-start: calc(var(--padding-size) * -6);
}

/*--------------DISC------------*/
/*....ROTATE ANIMATION....*/
@keyframes spin { /* used to define the CSS animation at various points during its duration - in my case it's faily simple because its a continuous rotate*/
  to { rotate: 360deg; } /* learnt this on https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/rotate, it */
}

/* DISC - setting up the sizing for the main circle*/ 
/* DISC - attributions needed here and in disc-player*/
#disc-container {
    position: relative;
    width: calc(var(--disc-size) + 2rem); /* Adds the padding for the disc player background*/
    height: calc(var(--disc-size) + 2rem);
}

#disc-player {
    width: calc(var(--disc-size) + 2rem); /* Places the disc ring image with the padding above for the disc player background*/
    height: calc(var(--disc-size) + 2rem); 
    border-radius: 50%;
    display: flex; /* /* Creates a flex container so child elements can be aligned easily — learned in class flexbox layout */
    align-items: center; /* Claud suggested using this specific line - vertical alignment on the disc container*/
    justify-content: center; /* Claud suggested using this specific line - horizontal alignment on the disc container*/
    position: relative; /* relative to parent*/
    background-image: url("Illustrations/Disc-ring.png"); /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/background-image setting background image, learnt this in class but this just selects a background image from file folder. */
    background-size: cover; /* This is like object-fit for backgrounds */
    border: 0.125rem double var(--ring); 
}

#disc {
    width: var(--disc-size); 
    height: var(--disc-size);
    border-radius: 50%;
    overflow: hidden;
    position: relative; /* remove the right/top/transform positioning */
    animation: spin 8s linear infinite; 
    background-image: url("Illustrations/Disc.png");
    background-size: 110%;  /* Similar to object fit but with the background size, https://www.w3schools.com/css/css3_background_size.asp I had some space between the edge and disc image - you can use either auto/contain/cover or percentages/relative units here */
    background-position: center; /* I learnt this using claude since it wasn't 100% in the center. This sets the background to perfectly center */
    transform-origin: center center; /* Claud suggested using this to get the spin to orignate from the beginning. This line allows the animation to start in the center point, kind of thought of this like an anchor point in after effect*/
    border: 0.125rem double var(--ring); /* css border styles - refresher from MDN */
}


/* DISC FILL */
#disc-image {
    transform-origin: center center; /*  rotates around its exact center point, making the spin smooth and stable without wobble. */
    width: var(--disc-size);
    height: var(--disc-size);
    justify-content: center; /* aligns horizontally (main axis - assuming this matches the flex direction) */
    align-items: center; /* aligns vertically */
    border-radius: 50%;  /* making the content disc shaped */
    object-fit: cover; /* Crops image to full bleed */
    position: relative;
    overflow: hidden;
    display: flex; /* ensures centering works */
}
/* selecting all the content types and making them fit into the circle */
#disc-image img,
#disc-image iframe,
#disc-image video,
#disc-image embed {
 
    width: 100%; /* makes each media element fill the entier parent container */
    height: 100%; 
    object-fit: cover; /* ensures cover style on the blocks themselves,  */
}

#disc-image iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 50%;
    z-index: 10;
    transform: translateY(70%) scale(3.5) translateX(0%); /* learnt how to write this synthx using claude: first translateY, then scale, then translateX - the order here is important */
}


#disc-hole  {
    position: absolute; 
    background-image: url("Illustrations/disc-hole.png");
    background-size: cover; /* Similar to object fit but with the background size, https://www.w3schools.com/css/css3_background_size.asp this makes it fit the disc size perfectly as a cover rather than cropping it */
    width: 33%; /* sets to 1/3 of the disc size */
    height: 33%;
    z-index: 1000;
    border-radius: 50%;
    border: 0.5rem solid var(--ring);
    top: 50%;
    left: 50%; /* tell it where to go — 50% from the top and 50% from the left */
    transform: translate(-50%, -50%); /* Asked claude to help make this in the center of my circle - kept forgetting the synthx. moves - vertically then horizontally */
    /* FYI align-items: center; - you keep doing this! this ONLY APPLIES to FLEX/GRID...same with justify-content */
    }


/*--------------MIDDLE NAVIGATION------------*/
#middle-nav {
    position:fixed;
    bottom: var(--block-size); /* find relative units for this!!! sits exactly on top of the film strip */
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    flex-shrink: 0; /*works with flex:1; and pushes this above the fixed b*/
    width: 100%;
    align-items: center;

}

.block-info {
display: flex;
flex-direction: column; 
margin-right: auto; /* vw spacing between the text and the buttons */

    #block-title {
    font-size: calc(var(--body-size) * 1.5);
    max-width: 15ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
}

.controls {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: auto; /* Instructs the browser to calculate an element's width based */
    margin-inline-start: calc(var(--padding-size) * -1); 
}

.controls button {
    width: calc(var(--body-size) * 3); /* relative to text size - 3rem is the min button size*/
    height: calc(var(--body-size) * 3);
}

#pause-play {
   width: calc(var(--body-size) * 3.5);
    height: calc(var(--body-size) * 3.5);
}

.controls button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*--------------FILM------------*/

.film-wrapper {
    position: fixed; /* Fixed to viewport */
    width: 100vw; /* Full viewport width */
    overflow-x:  auto; /* FILM attributions needed here*/
    overflow-y: hidden;
    left: 0; /* Resets to position 0*/
    right: 0; /* FILM attributions needed here*/
    bottom: 0; /* FILM attributions needed here*/
    padding: 0;
    margin: 0;
    display: flex;
    align-items: end; /* FILM attributions needed here*/
    gap: var(--gap-size);  /* ADDING IMAGES TO EACH CONTENT BLOCK as a background - used claude to help me figure this out, for each content type i want the image i set to be the background in the film strip. This is setting a background * targets everything inside that li and hides the visibility inside the block (other than the background*/
    background-color:white;
     /* Needs attribution - blurred on both sides */
    -webkit-mask-image: linear-gradient(to top,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%);


#channel-blocks {
    display: flex;  
    flex: 1;
    overflow-y: hidden;
    overflow-x: auto;  /* horizontal scroll */
    gap: var(--gap-size);
    padding: 0;
    padding-block-end: calc(var(--padding-size) * 0);
    list-style: none;
    margin: 0;
    width: 100%;
    flex-wrap: nowrap;  /* keep in one row */

    /* Needs attribution - blurred on both sides */
    mask-image: linear-gradient(to right,
        transparent 0%,
        transparent 100%);
    -webkit-mask-image: linear-gradient(to right,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%); 
}

#channel-blocks li {
    width: var(--block-size);
    height: var(--block-size);
    aspect-ratio: 1;
    display: flex;
    margin-block-end: -0.25rem;
    flex-shrink: 0;  /* keep this to prevent shrinking */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box; /* adds border to box size - prevents overflow */
    border: 0.5rem solid rgb(255, 255, 255); /* border styles mdn */
    border-radius: 0
}

#channel-blocks li.active {
    border: 0.5rem outset var(--active); 
}

/* External links */
     #channel-blocks li:has(a) {
        background-image: url('./Illustrations/Link.png');
        background-size: 102%;
        background-position: center;

        * {
            visibility: hidden;
        }
    }

    #channel-blocks li:has(iframe) {
        background-image: url('./Illustrations/Listen.png');
        background-size: 102%;
        background-position: center;
        * {
            visibility: hidden;
        }
    }
    /* External embedded audio */
    #channel-blocks li:has(.text) {
        background-image: url('./Illustrations/read.png');
        background-size: 102%;/* mdn background size options */
        background-position: center;
        * {
            visibility: hidden;
        }
    }

}

#channel-block li {
        scale: 1;
        
        transition: scale 0.2s ease; }
        
        a:hover {
        scale: 1.1; }


/* ADDING IMAGES TO EACH CONTENT BLOCK */
#channel-blocks li:has(.text) {
background-image: url('./Illustrations/Read text.png');
 }

#channel-blocks img,
#channel-blocks iframe {
    object-fit: cover;
    scale:80%;
    object-position: center;
     aspect-ratio: 1;
     overflow: hidden; 
}
#channel-blocks li img {
    box-sizing: border-box; 
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%; /* border styles mdn */
}

#channel-blocks .text, #channel-blocks .image,
#channel-blocks embed,
#channel-blocks iframe { 
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 1;
}

/* more comments to come ...This is how u get the links not to show up within the block element */
#channel-blocks li a,
#channel-blocks li iframe {
    pointer-events: none;
}

   
/* ADDING IMAGES TO EACH CONTENT BLOCK */
#channel-blocks li:has(.text) {
background-image: url('./Illustrations/Read text.png');
}
/*-------------- RESPONSIVE DESIGN ------------*/
/*The disc is super temperament*/
@media (width > 500px) {

}
@media (width > 700px) {
  :root {
}
header {
    button img {
    width:calc(var(--body-size) * 1.5); /* relative to text size - I keep forgetting how to properly space the calc function - use claude to remember this calc(var(--body-size) * 3) - no spaces until you do calc and put a space between * and 3*/
    height:calc(var(--body-size) * 1.5); 
    margin-inline: calc(var(--padding-size) * 1.8);
    margin-block: calc(var(--padding-size) * 0.5);
    }
}

#disc-wrapper {
    justify-content: center;
    margin-inline-end: 0;
    margin-block-start: clamp(calc(var(--disc-size) * -0.9), calc(var(--disc-size) * -0.75 + 3vw), calc(var(--disc-size) * -0.7)); /* using the logic from the clamp() on disc size, it's used here to scale the fixed margin fluidly. Syntax via MDN: developer.mozilla.org/en-US/docs/Web/CSS/clamp, help intergrating the logic/variable assisted by Claude.By writing each value relative to --disc-size, the bleed stays proportional to the disc as it grows (on ipad and up). The three values are: calc(var(--disc-size) * -0.8) for max bleed, calc(var(--disc-size) * -0.7 + 2vw) for preferred value that shifts with viewport width, and calc(var(--disc-size) * -0.6) the min bleed.  */
    --disc-size: clamp(15rem, 50vw, 35rem);
}


.block-info {
display: flex;
flex-direction: column; 
margin-right: auto; /* vw spacing between the text and the buttons */

    #block-title {
    font-size: calc(var(--body-size) * 1.5);
    max-width: 15ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
}

.controls button {
    width: calc(var(--body-size) * 1.5); /* relative to text size - 3rem is the min button size*/
    height: calc(var(--body-size) * 1.5);
}

#pause-play {
   width: calc(var(--body-size) * 2);
    height: calc(var(--body-size) * 2);
}

}