@font-face {
  font-family: 'helvetica';
  font-weight: 150;
}

:root{
   --base-color: rgb(30, 30, 30);
  --base-variant:GhostWhite;
  --text-color: blue;
  --primary-color: green;
  --secondary-text: rgb(104, 201, 233);

  font-family: 'Quilon', sans-serif;
  overflow-x: clip !important;
  scroll-behavior: smooth;
}
header {
    justify-content: right;
h1 {
    font-size: 7rem;
    padding-block-start: 1rem;
}
p {
    font-size: 4rem;
    margin-block-start: -4rem;
    max-width: 60%;
}

}

body {
  overflow-x: clip !important;
}

article {
padding-block-start: 10rem;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  gap: 10rem;
}
div {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
    width: 250px; 
  height: 250px; 
  object-fit: cover;

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

}


