:root {
  --base-color: rgb(255, 255, 255);
  --base-variant: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --primary-color: rgb(0, 0, 0);
  --secondary-text: rgb(0, 0, 0);

  /*padding variables*/
  --gutter: 2rem;
  --vertical: 1rem;
  --corners: 1rem;


  /*header fonts*/
  --type-header: "parabolica", sans-serif;
  --type-header-weight: 100;
  --type-header-style: normal;
  --heading-size: calc(var(--body-size) * 6);

  /*subheader fonts*/
  --subheading-size: calc(var(--body-size) * 2);

  /*body fonts*/
  --type-body: "parabolica", sans-serif;
  --type-body-style: normal;
  --type-body-weight: 400;
  --body-size: 1.5rem;

  /*root styling*/
  padding: var(--gutter);
  background-color: var(--base-color);

}
/* hoping that this could somehow become my navigation  */
.navigation {
   width: 10%; 
  height: auto;
}
hgroup {
  padding-inline: var(--gutter);
  background-color: var(--base-variant);
  border-radius: var(--corners);
}

h1 {
  font-family: var(--type-header);
  font-style: var(--type-header-style);
  font-weight: var(--type-header-weight);
  font-size: var(--heading-size);
  color: var(--secondary-text);
  padding-block-start: 6rem;
}

h2 {
  font-family: var(--type-body);
  font-size: var(--subheading-size);
  font-weight: var(--type-header-weight);
  margin-block-start: -5rem;
  max-width: 60%;
  color: var(--text-color);

}

p {
  padding-block: var(--gutter);
  font-family: var(--type-body);
  font-size: var(--body-size);
  line-height: 130%;
  max-width: 80%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block-start: var(--vertical);
  padding-inline: var(--vertical);
  top: 0;
  right: 0;
  z-index: 1000;

  li {
    margin-inline-start: var(--gutter);
  }

  a {
    font-weight: var(--type-body-weight);
    font-family: var(--type-body);
    text-transform: none;
    font-size: var(--body-size);
    line-height: 130%;
    max-width: 80%;
    color: var(--primary-color);
  }
}


body {
  overflow-x: clip !important;
  color: var(--primary-color);
}

article {
  padding-block-start: 10rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  gap: 2rem;
  margin-inline: var(--gutter);
}

div {
  overflow: hidden;
  object-fit: cover;
  justify-content: center;
  border-radius: var(--corners);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}