/*....ATTRIBUTION....*/
/* GOAL: what I was trying to do */
/* RESOURCE: MDN Web Docs — text-align and justify-content through co-pilot what is the resource I used */
/* LEARNING: what I learned from it */

/* SMALL ATTRIBUTION: if we learnt it in class but I forgot remember */
/* QUESTION: for Michael, Eric and code tutors */

/*--------------STYLES------------.*/
:root {
    overflow-x: hidden;
    --body-font: 'Chillax', sans-serif;
    --body-font-style:normal;
    --body-size: clamp(1rem, 2vw, 2rem); 
    --header-font: "BlurWeb-Medium W03 Regular"; 
    --heading-size: clamp(5rem, 10vw, 10rem);

    /* setting color variable */
    --active: rgb(233, 255, 124);
    --links: rgb(48, 48, 48);
    --ring: rgb(246, 246, 246);
    --main:rgb(0, 0, 0);
    --border: rgb(206, 206, 206);

   
    --disc-size: clamp(15rem, 80vw, 30rem);
    --block-size: clamp(5rem, 10vw, 8rem);
    --gap-size: 0.5rem;
    --padding-size: 1rem;
    --border-radius: 10%;
}